#myTable {
    width: 55%;
}
.Proc_Incl{
	display: inline-flex;
		   align-items:center;
			font:5px Tahoma;
			 margin: 0 auto;
	
}
.bt_A {
	width:50px;
	height:35px;
	font:10px Tahoma;
	vertical-align: top;
}
:checked + span {
    font-weight: bold;
}
button::-moz-focus-inner {
border: 0;
padding: 0;
outline: 0;
}
.SelecUnid{
width: 50px;
height: 35px;
font: 10px Tahoma;
vertical-align: top;	
}
.ClassBtAddList{
width: 50px;
height: 55px;
font: 10px Tahoma;
vertical-align: top;
position: relative;
padding: 0;

}
#ContSelecUnids{
height: 55px;
	align-items: center | baseline; 
}

#LocUnids{
	float: left;
}
#btSelOpc{
	
	float: right;
}
.UL {
    float:left;
    width:25%;
}
.tAddi {
    float:left;
    width:25%;
}
button > span {
display: block;
height: inherit;
}
.ClassInputVl {
  padding: 10;
  width: 50px;
  box-sizing: border-box;
  size: 3px;
 
}
inputVl{
	 max-lenght:4;
	
}
.txtA_Itens{

    font-family:Verdana, Helvetica, sans-serif;
     font-size: 15px;
     text-transform: uppercase;
}

.classCkInfo{
	box-shadow: inset 0 1px 3px rgb(14, 172, 39), 0 0 0 6px rgb(19, 185, 45);
	
	}
.classCkInfo2{
	
	box-shadow: inset 0 1px 3px rgb(255, 64, 64), 0 0 0 6px rgb(255, 64, 64);
	
}
th {
	color:white;

	font-family:Arial, Helvetica, sans-serif;
  
    font-weight: bold;
    padding: 6px;
	
}


  td {
    background: #a6d2df;
    padding: 3px;
}



td {
    padding: 5px;
}
#opAddnv { visibility : hidden }

.highlight td {
    background: yellow;
}

.selected {
    background-color: yellow;
}

.selectedcc {
    background-color: greenyellow;
}

.highlight .selectedcc {
    background-color: red;
}
#Legn {
    float: right;
    width: 100px; height: 200px;
    margin: 10px 20px;
}

#Unid {
    float: left;
    width: 100px; height: 200px;
    
}

.conteudo {

	 
  display:flex;
  
  overflow-x: auto;

    font-family:Verdana, Helvetica, sans-serif;
    flex-direction: row;
    
    width: 100%;
     overflow-x: hidden;

     padding: 1px;
     font-size: 12px;
}

.card{
   position: sticky;
   min-width: 1500px;
   margin: 10px;
   height: 600px;
   text-align: center;
}
